@model IEnumerable<tabuleria_luderia.Models.Jogo>

@{
    ViewData["Title"] = "Index";
}

<h1>Jogos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar novo jogo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoJogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinJogadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxJogadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdadeMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mecanicas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoJogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinJogadores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxJogadores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdadeMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mecanicas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loja.Cep)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
